main {
  /* background-color: red; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(216, 216, 216);
  flex-direction: row;
  display: flex;
}
.cabecalho {
  width: 100%;
  background-color: rgb(63, 63, 203);
  /* position: relative; */
  /* block-size: 25px; */
  height: 40px;

}
.opcoesd {
  /* position: relative; */
  background-color: rgb(63, 63, 203);
  color: #fff;
  border: none;
}

.botoes {
  list-style: none;
  color: rgb(63, 63, 203);
  background-color: rgb(63, 63, 203);
}
.cadastros {
  color: #fff;
  background-color: rgb(63, 63, 203);
  border: none;
}
.relatorio {
  color: #fff;
  background-color: rgb(63, 63, 203);
  border: none;
  flex-direction: row;
  align-content: center;
}
/* divisão */
legend,
label[for="mensagem"] {
  font-weight: bold;
  margin-top: 1em;
}
label[for],
button {
  display: flex;
}
input[type="text"],
input[type="email"],
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: .25em .5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  
}
button {
  border: 0;
  padding: .5em 1em;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: rgb(63, 63, 203);
  color: white;
  font-size: 1.2em;
  margin-left: auto;
  margin-top: 1em;
}
input:invalid {
  box-shadow: 0 0 3px red;
}
input:focus,
textarea:focus {
  background-color: #FFD;
}
button:focus {
  background-color: rgb(63, 63, 203);
}
fieldset > fieldset {
  display: flex;
}
label[for="outro"] {
  display: flex;
}
input[name="outro-assunto"] {
  width: auto;
}
input[value="Outro"] ~ input {
  display: flex;
}
input[value="Outro"]:checked ~ input {
  display: flex;
}
container {
  display: flex;
  flex-direction: row;
}

